<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EfCore2C</title>
    <link rel="stylesheet" href="~/Admin/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Admin/css/site.css" />
    <link rel="stylesheet" href="~/Admin/css/all.min.css" />
    <link rel="stylesheet" href="~/Admin/css/framework.css" />
    <link rel="stylesheet" href="~/Admin/css/master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="page d-flex">
        <div class="sidebar bg-white p-20 p-relative">
            <h4 class="p-relative txt-c mt-0">
                <a style="text-decoration:none;color:black" asp-area="" asp-controller="Home" asp-action="Index">Science Blog</a>
            </h4>
            <ul>
                <li>
                    <a class="active d-flex align-center fs-14 c-black rad-6 p-10" asp-area="AdminPanel" asp-controller="Categories" asp-action="Index">
                        <i class="fa-regular fa-newspaper fa-fw"></i>
                        <span>Categories</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" asp-area="AdminPanel" asp-controller="Blogs" asp-action="Index">
                        <i class="fa-regular fa-newspaper fa-fw"></i>
                        <span>Blogs</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="content w-full">
            <div class="head bg-white p-15 between-flex">
                <div class="p-relative">
                    <div class="container">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="icons d-flex align-center">
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button style="margin-left:5px;" type="submit" class="nav-link btn btn-primary text-light ">Logout</button>
                            </form>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>
    <script src="~/Admin/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
