@{
	ViewData["Title"] = "Home Page";
}
@model List<ScienceBlogs.Models.Category>

<div class="container">
	<!-- Begin Site Title
	================================================== -->
	<div class="mainheading">
		<h1 class="sitetitle">Science Blog</h1>
		<p class="lead">
			You can find many scientific articles on this site.
		</p>
	</div>
	<!-- End Site Title
	================================================== -->
	<!-- Begin List Posts
	================================================== -->
	<section class="recent-posts">
		<div class="section-title">
			<h2><span>All Categories</span></h2>
		</div>
		<div class="card-columns listrecent">
			<!-- begin post -->
			@foreach(var item in Model)
			{
				<div class="card">
					<a>
						<img class="img-fluid" src="~/Images/Categories/@item.Image" alt="">
					</a>
					<div class="card-block">
						<h2 class="card-title"><a asp-controller="Home" asp-action="Blogs" asp-route-id="@item.ID">@item.Name</a></h2>
						<h4 class="card-text">@item.Description</h4>
					</div>
				</div>
			}
			<!-- end post -->
		</div>
	</section>
	<!-- End List Posts
	================================================== -->
</div>
<!-- /.container -->
<!-- Begin Footer
================================================== -->
